<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>toDolist</title>
</head>
<body>
<H1>Todos for today</H1>
<table><tr><th>ID</th><th>Title</th><th>Urgent</th><th>Done</th></tr>
    <tr th:each="todo: ${todos}">
        <td th:text="${todo.getID()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.getUrgent()}"></td>
        <td th:text="${todo.getDone()}"></td>
    </tr>
</table>
<p>Done yet</p>

</body>
</html>