<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
    <title>Title</title>
</head>
<body>
<h1><a href="/">Reddit</a></h1>
<a href="/add">Submit new post</a>
<div class="datatable">
<table>
    <tr>
        <th>Score</th>
        <th></th>
        <th></th>
        <th>Title</th>
        <th>Posted</th>
    </tr>
    <tr th:each="post :${postlist}">
        <td th:text="${post.score}"></td>
        <td><a th:href="'/upvote/'+${post.ID}">+</a></td>
        <td><a th:href="'/downvote/'+${post.ID}">-</a></td>
        <td><a th:href="'/show/'+${post.ID}" th:text="${post.title}"></a></td>
        <td th:text="${post.postedTime}"></td>
    </tr>
</table>
</div>
<form action="/" method="get">
<input type="submit" th:each="number:${numberOfPagesList}" th:value="${number}" name="number">
</form>



<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</body>
</html>